body{
	padding: 2em;
	font-family: Arial, Verdana, sans-serif;

	background: #003300 no-repeat top
    url(https://sumedh.files.wordpress.com/2013/08/background.png);
    /*opacity: 0.;*/
}

#info{
	/*color:black;*/
  /*font-size: 2em;*/
  /*background-color: white;*/
  opacity: 0.8;
  position: absolute;
  top:;
}

canvas{
	width: 600px;
  height:500px;
    /*For debug*/
  /*  border-style: solid;
   	border-width: 0.2em;
   	border-color: red;*/
}