<!-- User's status panel -->
<div id="userStatus">

    <div class="userSidebarName"><span>{{ vm.username }}</span></div>
    <img class="avatar img-circle" ng-src="{{ vm.avatar }}"/>
    <!-- StatusCtrl -->
    <p>{{ vm.status }}</p>

    <div class="input-group input-group-sm">

        <input type="text" class="form-control" placeholder="What's in your mind..." id="newHeadLine"
               ng-model="vm.newStatus">

        <button class="btn btn-default btn-xs" ng-click='vm.setStatus()'>update</button>

    </div>
    <!-- End of StatusCtrl -->
    <br>
</div>